h1 {
    font-family: 'Noto Serif', serif;
}

.main_section {
    /* margin: 0;
    padding: 0; */
    width: 100vw;
    height: 100vh;
}

.login_section {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s ease-in-out;
    border-radius: 1rem;
}

.login_section:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid blue;
}

button:hover {
    background-color: whitesmoke;
    color: green;
    border: 2px solid blue;
}

img {
    border-radius: 1rem;
}

.image_section {
    transition: 1s ease-in-out;
}

.image_section:hover {
    transform: scale(1.3);
}
input{
    border-radius: 1rem;
}
