h1{
    font-family: 'Noto Serif', serif;
}

.input-section {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s ease-in-out;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: whitesmoke;
    color: green;
    border: 2px solid blue;
}

.input-section:hover {
    transform: scale(1.1);
}

.image-section {
    transition: 1s ease-in-out;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.image-section:hover {
    transform: scale(1.1);
}