.main_section{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:0rem 10rem
}
.button{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
}