<div class="main_part d-flex justify-content-center">
    <div class="container w-100 mt-5 d-flex justify-content-center">
        <div class="mt-5">
            <div class=" signup_section p-5">
                <h1 class="text-center">Sign Up</h1>
                <form action="" class="mt-5">
                    
                    <input type="text" id="user2" name="accNum2" class="form-control mt-3" placeholder="Enter account number">
                    <input type="text" id="uname" name="userName" class="form-control mt-3" placeholder="Enter user name">
                    <input type="password" id="pswd2" name="password2" class="form-control mt-3" placeholder="Enter password">
                    <input type="password" id="cpswd" name="cpassword" class="form-control mt-3" placeholder="Enter confirm password">
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn btn-primary">SignUp</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




