 h1 {
    font-family: 'Noto Serif', serif;
    color: white;
    /* text-shadow: 2px 2px red; */
    /* text-shadow: 2px 2px 5px red */
}
.main_part{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.postimg.cc/TwmMfhZf/customer1.jpg");
    background-size: 100% 100%;
    background-color: black;
    /* opacity: 0.5; */
}
.signup_section{
    background-color: black;
    opacity: 0.5;
    /* box-shadow: 10px 10px 15px 15px lightblue inset; */
    transition: 1s ease-in-out;
    border-radius: 1rem;
   
}
img {
    border-radius: 1rem;
}
input{
    border-radius: 1rem;
}
button:hover {
    background-color: green;
    /* color:black; */
    border: 3px solid blue;
}

 
